:root {
	--main-text-color:#212121;
	--second-text-color:#757575;
	--accent-text-color:#2196F3;
	--white-text-color: #FFFFFF;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--footer-background-color: #2F303A;
	--main-background-color: #FFFFFF;;
	--second-background-color: #F5F4FA;;
	--filter-button-color: #F5F4FA;
}

/* Global settings */
body {
	font-family: 'Roboto', sans-serif;
	color: var(--main-text-color);
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.71;
}

.link {
	text-decoration: none;
	color: var(--main-text-color);
}

.list {
	list-style: none;
}

.btn {
	cursor: pointer;
}

/* Header and footer settings */

.header-section {
	background-color: var(--main-background-color);
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.logo-word,
.link.current,
.header-section ul a:hover,
.header-section ul a:focus,
.footer-list a:focus,
.footer-list a:hover {
	color: var(--accent-text-color);
}

.header-list .link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.list-contact .link {
	color: var(--second-text-color);
}

/* Footer */

.footer-section {
	background-color: var(--footer-background-color);
}

.footer-section > a,
.footer-section__map {
	color: var(--white-text-color);
}

.footer-section__adress {
	color: var(--footer-text-color);
}

.footer-list {
	font-style: normal;
}

/* Main page */

.hero {
	background-color: var(--footer-background-color);
	color: var(--white-text-color);
	text-align: center;
}


.hero .title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero button {
		background-color: var(--accent-text-color);
		color: var(--white-text-color);
		font-family: inherit;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.87;
		letter-spacing: 0.06em;
		text-align: center;
		width: 200px;
		height: 50px;
}

.benefits {
	background-color: var(--main-background-color);
}

.benefits .title {
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
}

.benefits p {
	color: var(--second-text-color);
}

.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}

.about-us {
	background-color: var(--main-background-color);
}

.our-team {
	background-color: var(--second-background-color);
	font-size: 16px;
	line-height: 1.19;
}

.our-team .title {
	font-weight: 500;
}

.our-team p {
	color: var(--second-text-color);
}

/* Porfolio page */

.our-works {
	background-color: var(--main-background-color);
}

.works-filter button {
	background-color: var(--filter-button-color);
	height: 38px;
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
}

.works-filter button:hover,
.works-filter button:focus {
	background-color: var(--accent-text-color);
	color: var(--white-text-color);
}

.works-examples .title {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.works-examples p {
	color: var(--second-text-color);
	font-size: 16px;
	line-height: 1.87;
}